body .modoClaro {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}
.modoOscuro{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

/*----------------------------------------------SECCION HEADER---------------------------*/
.contenedorCentral{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
}

#divHeader{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.452);
}


.h1Section{
    width: 300px;
    margin: 3px 0px 10px 0px;
    padding: 3px;
    text-align: center;
    font-family: "Freckle Face", serif;
    font-size: 26px;
}

#navBotones{
    width: 96%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", serif;
    font-size: 10px;
}

.botonNav{
        width: 120px;
        height: 30px;
        margin: 3px; 
        text-align: center;
}

.titulo-botonimg{
    display: inline;
    margin: 0px;
    padding: 0px;
}

/*------------------------------------------SECCION MAIN-----------------------------------*/
main{
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
  
}
.contenedor-seccion{
    width: 98%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
}

.contenedorTexto1{
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Orbitron", serif;
    font-size: 25px;
    border: 3px black solid;
}

.contenedorTexto2{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", serif; 
    font-size: 25px;
    border: 3px solid black;
}

.textosP{
    margin: 0px 15px;
}

.divCentral{
    width: 300px;
    height: 220px;
    display: flex;
   justify-content: center;
    align-items: center;
} 

#imagenMeme{
    width: 260px;
    height: 200px;
    background-color: black;
    background-size: contain;
    background-position: center ;
    background-repeat: no-repeat;

}

.boton-descarga{
    width: 150px;
    height: 25px;
    font-size: 14px;
   background-color: rgba(128, 128, 128, 0.568);
    border-radius: 6px;
    border: none;
    color: white;
    font-family: "Orbitron", serif;
    margin: 3px;
}

.boton-descarga:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
/*------------------------------------------------------- ASIDE----------------------------------------*/

.aside-contenedor{
    width: 100vw;
    height: 600px;
    display: none;
    background-color: rgb(128, 128, 128);
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 0;
    
} 


#botonCierre1{
    width: 24px;
    height: 22px;
    font-size: 15px;
    background-color: transparent ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 280px;
    border: none;

}

.seccion-imagen{
    width: 98%;
    height: 600px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;  
}

.h2-aside{
    margin: 0px 5px;
    font-family: "Freckle Face", serif;
    text-align: center;
}

.divUrl{
    width: 92%;
    height: 50px;
    font-family: "Orbitron", serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

#urlInput{
    width: 260px;
    border: none;
    border-radius: 6px;
    border: black solid 3px;
}


.divColorFondo{
    width: 96%;
    height: 40px;
    font-family: "Orbitron", serif;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputFondoColor{
  width: 60px;
  margin: 0px 5px;
}

.contenedor-filtros{
    width: 96%;
    margin: 4px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    font-family:"Orbitron", serif; 
    font-size: 14px;
}

.label-range{
    margin: 3px;
}

.range{
    width: 250px;
    height: 3px;
    margin:  6px;
    border-radius: 5px;
}


.boton-restablecer{
    width: 130px;
    font-family: "Orbitron", serif;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 6px;
    border: none;
    margin-top: 8px;
}

.boton-restablecer:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

/* -----------------------------------SECCION TEXTO ------------------------ */

.seccion-texto{
    width: 100vw;
    height: 700px;
    margin: 0px;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
    background-color: rgb(128, 128, 128);
    position: absolute;
    top: 0;
} 

#botonCierre2{
    width: 24px;
    height: 22px;
    font-size: 15px;
    background-color: transparent ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 280px;
    border: none;
}

.h2-texto{
    margin: 5px;
    font-family: "Freckle Face", serif;
    text-align: center;
}

.div-toptext{
    width: 96%;
    height: 80px;
    font-family: "Orbitron", serif; 
    font-size: 12px;
    margin-bottom: 10px;
}

.p-superior{
    margin: 3px;
}

.textarea{
    width: 280px;
    height: 20px;
    margin: 5px;
    border-radius: 6px;
    border: black solid 3px
}

#checkTexto{
    width: 15px;
    height: 15px;
    margin: 0px 15px;
} 


.div-topbuttom{
    width: 96%;
    height: 80px;
    font-family: "Orbitron", serif; 
    font-size: 12px;
}

.p-inferior{
    margin: 3px;

}

.textareaButtom{
    width: 280px;
    height: 20px;
    margin: 5px;
    border: none;
    border-radius: 6px;
}

#checkTextoInferior{
    width: 15px;
    height: 15px;
    margin: 0px 15px;
} 


.div-fuente{
    width: 96%;
    height: 90px;
    margin: 3px;
    font-family: "Orbitron", serif; 
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.parrafo-fuente-titulo{
    width: 100vw;
    margin: 3px;
}

.clases-fuente{
    width: 96%;
    margin: 3px;
    border-radius: 6px;
    border: black solid 3px;
}

.tamaño-fuente{
    width: 30%;
    margin: 3px 5px;
    border: black solid 3px;
}

.iconosAlineacion{
    width: 40%;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 


.contenedor-color{
    width: 96%;
    height: 110px;
    margin: 3px;
    font-family: "Orbitron", serif; 
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

}

.div-colores{
    width: 42%;
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}
.parrafo-color-titulo{
    margin: 5px;
}

#inputColor{
    width: 80px;
    margin: 5px;
}


.div-fondo{
    width: 42%;
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
          
.parrafo-fondo-titulo{
    margin: 5px;
}

#inputFondo{
    width: 80px;
    margin: 5px;
}


#checkColorFondo{
    width: 15px;
    height: 15px;
    margin: 10px;
}


.contenedor-contorno{
    width: 96%;
    height: 80px;
    margin: 5px;
    font-family: "Orbitron", serif; 
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.parrafo-contorno{
    width: 90%;
    margin: 3px;
}

.botones-contorno{
    height: 30px;
    margin: 3px;
    padding: 5px;
    border-radius: 6px;
}

.contenedor-espaciado{
    width: 96%;
    height: 100px;
    margin: 5px;
    font-family: "Orbitron", serif; 
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

#espaciado{
    width: 100%;
    margin: 8px;
}
 #inputNumber{
     width: 85%;
     height: 18px;
     margin: 5px;
     border-radius: 6px;
     border: black solid 3px;
     text-align: center;
 } 

.contenedor-interlineado{
    width: 96%;
    height: 70px;
    margin: 5px;
    font-family: "Orbitron", serif; 
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.parrafo-interlineado{
  width: 100%;
  margin: 8px;
}

.select-interlineado{
   width: 85%;
   border: black solid 3px;
   border-radius: 6px;
   text-align: center;
   margin: 5px;

}


/* .............................MEDIAS QUERYS ................................*/
 @media (min-width: 768px ){

 


    /* aside seccion */

    .aside-contenedor{
    
        height: 650px;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
    }    

    #botonCierre1{
        margin: 10px 0px 0px 700px;
    }
    
    .h2-aside{
        font-size: 30px;
    }

    
#urlInput{
    width: 700px;
}

.divColorFondo{
    width: 96%;
    height: 70px;
    font-family: "Orbitron", serif;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#colorFondo{
    width: 100%;
}

.inputFondoColor{
    width: 250px;
  }
  
#selectFondo{
    width: 250px;
}

.contenedor-filtros{

    display: flex;
    flex-direction: column;
    align-items: center;
 }

 
.boton-restablecer{
    width: 200px;
}

.boton-restablecer:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

/* seccion texto */

.seccion-texto{
    width: 100vw;
    height: 750px;
    margin: 0px;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
    background-color: rgb(128, 128, 128);
    position: absolute;
    top: 0;
} 



#botonCierre2{
    margin: 15px 0px 0px 700px;
}

.h2-texto{
    font-size: 30px;
}

.textarea{
    width: 700px;  
}


.div-fuente{
    margin: 15px;
}

.clases-fuente{
    width: 95%;
}


.div-colores{
    width: 50%;
    margin-bottom: 10px;
}

#inputColor{
    width: 100px;
}


.div-fondo{
    width: 45%;
    margin-bottom: 10px;
}

#inputFondo{
    width: 100px;
}


.contenedor-contorno{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.parrafo-contorno{
    width: 100%;
    text-align: start;
}

#inputNumber{
    width: 700px;
} 


.select-interlineado{
    width: 700px;
 }

 }